<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <display-name>微信服务端</display-name>
    <servlet>
        <servlet-name>weixinServlet</servlet-name>
        <servlet-class>cn.edu.ncut.servlet.WeiXinServlet</servlet-class>
    </servlet>
    
    
    
    <servlet-mapping>
        <servlet-name>weixinServlet</servlet-name>
        <url-pattern>/wx.do</url-pattern>
    </servlet-mapping>
</web-app>